.h5 {
  margin-left: 130px;
}
.h6{
  margin-left: 400px;
}
.avatar{
  width: 130px;
  height: 130px;
  margin-left: 44%;
}
.sec1{
  background-color: #0f6674;
}
.cab{
  width: 250px;
  height: auto;
  border-radius: 4px;
}
.cab1{
  margin-left: 160px;
}
.co3{
  margin-left: 200px;
}
.but1 {
  margin-left: 44%;
}
.imgg{
  width: 10px;
  height: auto;
}